In [2]:
import pandas as pd
import numpy as np

# Set seed for reproducibility
np.random.seed(42)

# Jumlah data
n_samples = 1000

# Generate sample data
data = pd.DataFrame({
    'Age': np.random.randint(18, 65, size=n_samples),
    'Gender': np.random.choice(['Male', 'Female'], size=n_samples),
    'Income': np.random.normal(50000, 15000, size=n_samples).astype(int),
    'Education_Level': np.random.choice(['High School', 'Bachelor', 'Master', 'PhD'], size=n_samples),
    'Marital_Status': np.random.choice(['Single', 'Married', 'Divorced'], size=n_samples),
    'Employment_Status': np.random.choice(['Employed', 'Unemployed', 'Self-Employed', 'Student'], size=n_samples),
    'Purchase_History': np.random.randint(0, 100, size=n_samples),
    'Website_Visits': np.random.poisson(5, size=n_samples),
    'Time_on_Site': np.random.normal(300, 100, size=n_samples).clip(min=0),
    'Target': np.random.choice(['Yes', 'No'], size=n_samples)
})

# Lihat beberapa data pertama
sample_data_preview = data.head()

# Statistik deskriptif
summary_stats = data.describe(include='all')

sample_data_preview, summary_stats

(   Age  Gender  Income Education_Level Marital_Status Employment_Status  \
 0   56    Male   41672        Bachelor       Divorced           Student
 1   46  Female   78217          Master         Single          Employed
 2   32  Female   28279     High School       Divorced          Employed
 3   60  Female   17017          Master         Single     Self-Employed
 4   25    Male   56600     High School       Divorced          Employed

    Purchase_History  Website_Visits  Time_on_Site Target
 0                68               3    476.979073     No
 1                67               4    424.846804     No
 2                20               6    504.119050    Yes
 3                77               3    347.925010    Yes
 4                94               4    314.310021    Yes  ,
                 Age Gender        Income Education_Level Marital_Status  \
 count   1000.000000   1000   1000.000000            1000           1000
 unique          NaN      2           NaN               4              3
 top             NaN   Male           NaN     High School       Divorced
 freq            NaN    526           NaN             266            345
 mean      40.986000    NaN  50852.235000             NaN            NaN
 std       13.497852    NaN  15009.184041             NaN            NaN
 min       18.000000    NaN   6179.000000             NaN            NaN
 25%       29.000000    NaN  40770.250000             NaN            NaN
 50%       42.000000    NaN  50631.000000             NaN            NaN
 75%       52.000000    NaN  60796.750000             NaN            NaN
 max       64.000000    NaN  97896.000000             NaN            NaN

        Employment_Status  Purchase_History  Website_Visits  Time_on_Site  \
 count               1000       1000.000000     1000.000000   1000.000000
 unique                 4               NaN             NaN           NaN
 top              Student               NaN             NaN           NaN
 freq                 266               NaN             NaN           NaN
 mean                 NaN         50.154000        4.926000    301.143695
 std                  NaN         28.791965        2.085395     99.570660
 min                  NaN          0.000000        0.000000      0.000000
 25%                  NaN         25.000000        3.000000    233.384875
 50%                  NaN         50.000000        5.000000    298.903917
 75%                  NaN         76.000000        6.000000    370.653240
 max                  NaN         99.000000       14.000000    654.406501

        Target
 count    1000
 unique      2
 top       Yes
 freq      504
 mean      NaN
 std       NaN
 min       NaN
 25%       NaN
 50%       NaN
 75%       NaN
 max       NaN  )